.conteiner{
    display: flex;
    justify-content: center;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-top: auto;
  }
  
  .main {
    margin: 0 auto;
    max-width: 80ch;
  }

  .navbar-nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 18px;
    width: 1200px;
  }

.text-center{
  font-family: 'Varna';
}

.navbar {
  font-family: 'Varna';
}

.card-text {
  font-family: 'Varna';
}