@font-face {
    font-family: 'Varna';
    src: url('Varna-Bold.eot');
    src: local('Varna Bold'), local('Varna-Bold'),
        url('Varna-Bold.eot?#iefix') format('embedded-opentype'),
        url('Varna-Bold.woff2') format('woff2'),
        url('Varna-Bold.woff') format('woff'),
        url('Varna-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Varna';
    src: url('Varna-Regular.eot');
    src: local('Varna Regular'), local('Varna-Regular'),
        url('Varna-Regular.eot?#iefix') format('embedded-opentype'),
        url('Varna-Regular.woff2') format('woff2'),
        url('Varna-Regular.woff') format('woff'),
        url('Varna-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

